.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cart-item-name {
  width: 150px;
}

.cart-item-price {
  width: 40px;
}

.cart-item-quantity {
  width: 60px;
  text-align: center;
}
