#checkout-summary {
  width: 380px;
  background-color: rgba(0, 0, 0, 0.603);
  border-radius: 20px;
  padding: 20px;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#checkout-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 35px;

  border-bottom: solid white 1px;
  font-weight: bold;
}

#checkout-heading-title {
  width: 150px;
}

#checkout-button {
  padding: 20px 40px;
  background-color: #ae6b06;
  text-align: center;
  color: white;
  border-radius: 15px;
}

#checkout-button:hover {
  background-color: #dda44e;
}

#checkout-button:active {
  background-color: #f4dcb9;
}
