@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap");

:root {
  font-family: "Nunito", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --gap: 24px;
  --light-color: rgba(255, 255, 255, 0.748);
  --shadow: 5px 5px rgba(0, 0, 0, 0.27);
  color: white;
}

html {
  background-color: #141004;
}

html,
body,
#root,
#homepage,
#menupage,
#contactpage,
#cartpage,
.bg-mask {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

header {
  padding: 0px 36px;
  background-color: #141004;
  font-weight: bold;
  font-size: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: var(--shadow);
  z-index: 8;
}

.header-left {
  display: flex;
  gap: 16px;
  align-items: center;
}

.header-right {
  display: flex;
  /* gap: 5px; */
  align-items: center;

  font-size: small;
}

.header-tab {
  padding: 34px 0;
  width: 90px;
  text-align: center;
  background-color: inherit;
  font-weight: bold;
  /* border-radius: 10px; */
  cursor: pointer;
}

.header-tab:hover {
  background-color: rgb(106, 78, 40);
  color: white;
}

.header-tab:active {
  background-color: rgb(189, 175, 155);
  color: white;
}

.chosen-tab {
  background-color: rgb(174, 107, 6);
  color: white;
}

/* #contact {
  margin-right: 5px;
} */

.logo-container {
  margin: 18px 0;
  /* margin-left: 18px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.logo {
  height: 50px;
  width: auto;
}

#carticon {
  height: 25px;
  width: auto;
  align-self: center;
  justify-self: center;
}

#cart {
  padding: 0;
  margin-left: 20px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #372e15;
  cursor: pointer;
}

#cart-quantity {
  position: relative;
  top: 20px;
  right: 13px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #AE6B06;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
}

footer {
  font-size: 10px;
  text-align: center;
  background-color: #1a1a1a;
  color: white;
  padding-left: var(--gap);
  padding-right: var(--gap);
  padding-top: 12px;
  padding-bottom: 12px;
}

a,
button {
  all: unset;
  cursor: pointer;
}

input {
  all: unset;
}

#homepage {
  background: url(../images/home-bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

.bg-mask {
  height: 100%;
  width: 100%;
  background-color: rgba(24, 15, 5, 0.573);

  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 40px;
  padding-bottom: 40px;
}

#menupage {
  background: url(../images/menu-bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

#contactpage {
  background: url(../images/contact-bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

#cartpage {
  background: url(../images/cart-bg.jpg) no-repeat center center fixed;
  background-size: cover;
}
